menu "Lilygo Display Panel Options"

    choice DISPLAY_DRIVER
        prompt "Installed Panel"
        default DISPLAY_DRIVER_SSD1680
        config DISPLAY_DRIVER_SSD1680
            bool "SSD1680"
        config DISPLAY_DRIVER_SSD1681
            bool "SSD1681"
        config DISPLAY_DRIVER_ST7789
            bool "ST7789"
    endchoice
    choice DISPLAY_USE_DRIVER
        prompt "Screen driver type"
        default DISPLAY_USE_LVGL
        config DISPLAY_USE_LVGL
            bool "Use lvgl capable driver"
            help 
                Select to use lvgl capable driver
        config DISPLAY_USE_EPD
            bool "Use custom EPD driver"
            depends on DISPLAY_DRIVER_SSD1680 || DISPLAY_DRIVER_SSD1681
            help 
                Select to use custom EPD driver
    endchoice
    
    choice DISPLAY_HAS_SCREEN
        prompt "Screen model"
        default HAS_SCREEN_DEPG0213BN if DISPLAY_DRIVER_SSD1680
        default HAS_SCREEN_GDEY0154D67 if DISPLAY_DRIVER_SSD1681
        default HAS_SCREEN_ST7789 if DISPLAY_DRIVER_ST7789
        config HAS_SCREEN_DEPG0213BN
            depends on DISPLAY_DRIVER_SSD1680
            bool "DEPG0213BN 2.13 122x250 Eink"
            help 
                Select if screen model is DEPG0213BN
        config HAS_SCREEN_GDEY0213B74
            depends on DISPLAY_DRIVER_SSD1680
            bool "GDEY0213B74 2.13 122x250 Eink"
            help 
                Select if screen model is GDEY0213B74
    
        config HAS_SCREEN_GDEY0154D67
            depends on DISPLAY_DRIVER_SSD1681
            bool "GDEY0154D67 1.54 200x200 Eink"
            help 
                Select if screen model is GDEY0154D67
    
        config HAS_SCREEN_ST7789
            depends on DISPLAY_DRIVER_ST7789
            bool "ST7789 170x320 TFT"
            help 
                Select if screen model is TFT ST7789
    endchoice
    

    menu "SPI Options"
    
        config DISPLAY_SPI_MISO
            int "GPIO for MISO"
            range -1 48
            default -1
        config DISPLAY_SPI_MOSI
            int "GPIO for MOSI (DIN in epaper)"
            range -1 48
            default -1 if DISPLAY_DRIVER_ST7789
            default 23
        config DISPLAY_SPI_CLK
            int "GPIO for SPI Clock"
            range -1 48
            default -1 if DISPLAY_DRIVER_ST7789
            default 18
        config DISPLAY_BUSY
            int "GPIO for Busy signal"
            range -1 48
            default -1 if DISPLAY_DRIVER_ST7789
            default 4
        config DISPLAY_SPI_CS
            int "GPIO for Chip Select"
            range -1 48
            default 6 if DISPLAY_DRIVER_ST7789
            default 5
        config DISPLAY_DC
            int "GPIO for DC"
            range -1 48
            default 7 if DISPLAY_DRIVER_ST7789
            default 17
        config DISPLAY_RST
            int "GPIO for Reset"
            range -1 48
            default 5 if DISPLAY_DRIVER_ST7789
            default 16

        if DISPLAY_DRIVER_ST7789
            config DISPLAY_WR
            int "LCD: GPIO for Write"
            range -1 48
            default 8
            config DISPLAY_RD
            int "LCD: GPIO for Read"
            range -1 48
            default 9
            config DISPLAY_D0
            int "LCD: GPIO for D0"
            range -1 48
            default 39
            config DISPLAY_D1
            int "LCD: GPIO for D1"
            range -1 48
            default 40
            config DISPLAY_D2
            int "LCD: GPIO for D2"
            range -1 48
            default 41
            config DISPLAY_D3
            int "LCD: GPIO for D3"
            range -1 48
            default 42
            config DISPLAY_D4
            int "LCD: GPIO for D4"
            range -1 48
            default 45
            config DISPLAY_D5
            int "LCD: GPIO for D5"
            range -1 48
            default 46
            config DISPLAY_D6
            int "LCD: GPIO for D6"
            range -1 48
            default 47
            config DISPLAY_D7
            int "LCD: GPIO for D7"
            range -1 48
            default 48
            config DISPLAY_BL
            int "LCD: GPIO for Display BlackLight"
            range -1 48
            default 38
        endif    
    endmenu

endmenu